<!DOCTYPE html>
<html lang="uz">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Savatcha</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<header class="header">

    <div class="logo">

        <h1>Savatcha</h1>

        <span>{{ products|length }} ta mahsulot</span>

    </div>

    <div class="header-right">

        <a href="/" class="nav-icon">🏠</a>

        <a href="/login" class="nav-icon">👤</a>

    </div>

</header>

<section class="product-page">

<div class="products">

{% for product in products %}

<div class="card">

    <div class="card-image">

        <img src="{{ product.image }}">

    </div>

    <div class="card-body">

        <h2>

            {{ product.name }}

        </h2>

        <div class="price">

            {{ product.price }} so'm

        </div>

        <div class="delivery">

            🚚 Tayyor yetkazib berish

        </div>

        <div class="quantity">

            <a href="/minus/{{ product.id }}">

                <button>-</button>

            </a>

            <span>

                {{ product.count }} ta

            </span>

            <a href="/plus/{{ product.id }}">

                <button>+</button>

            </a>

        </div>

        <a href="/remove/{{ product.id }}">

            <button class="delete-btn">

                🗑 O'chirish

            </button>

        </a>

    </div>

</div>

{% endfor %}

</div>

<div style="max-width:500px;margin:40px auto;">

<div class="card-body" style="text-align:center;">

<h2>

💰 Jami

</h2>

<div class="price">

{{ total }} so'm

</div>

<a href="/checkout">

<button class="buy-btn">

📦 Buyurtma berish

</button>

</a>

</div>

</div>

</section>

<nav class="bottom-nav">

<a href="/" class="bottom-item">

<span>🏠</span>

<small>Home</small>

</a>

<a href="/cart" class="bottom-item active">

<span>🛒</span>

<small>Savat</small>

</a>

<a href="/login" class="bottom-item">

<span>👤</span>

<small>Profil</small>

</a>

</nav>

</body>

</html>