<!DOCTYPE html>
<html lang="uz">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product[1] }}</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="product-page">

<div class="product-card">

    <div>

        <img
            id="main-image"
            src="{{ product[3] }}"
            class="product-image">

        <div class="gallery">

            {% if product[3] %}
            <img src="{{ product[3] }}" onclick="changeImage(this.src)">
            {% endif %}

            {% if product[4] %}
            <img src="{{ product[4] }}" onclick="changeImage(this.src)">
            {% endif %}

            {% if product[5] %}
            <img src="{{ product[5] }}" onclick="changeImage(this.src)">
            {% endif %}

            {% if product[6] %}
            <img src="{{ product[6] }}" onclick="changeImage(this.src)">
            {% endif %}

        </div>

    </div>

    <div class="product-info">

        <div class="rating">

            ⭐ 4.9

            <span>Premium mahsulot</span>

        </div>

        <h2 class="product-title">

            {{ product[1] }}

        </h2>

        <div class="product-price">

            {{ product[2] }} so'm

        </div>

        <div class="delivery">

            🚚 Bugun yetkazib beriladi

        </div>

        <div class="product-desc">

            <h3>📄 Batafsil ma'lumot</h3>

            <br>

            {{ product[7] }}

        </div>

        <div class="product-buttons">

            <a href="/add/{{ product[0] }}">

                <button class="buy-btn">

                    🛒 Savatga qo'shish

                </button>

            </a>

            <a href="/">

                <button class="detail-btn">

                    ⬅ Bosh sahifaga qaytish

                </button>

            </a>

        </div>

    </div>

</div>

</div>

<script>

function changeImage(src){

    document.getElementById("main-image").src = src;

}

</script>

</body>
</html>