<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mening Profilim</title>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="card" style="max-width:650px;margin:40px auto;padding:35px;">

    <h1 style="text-align:center;">
        👤 Mening Profilim
    </h1>

    <br>

    <h2>🆔 ID: {{ user[0] }}</h2>

    <br>

    <h2>👤 {{ user[1] }}</h2>

    <p>📱 {{ user[2] }}</p>

    <br>

    <a href="/logout">
        <button>
            🚪 Chiqish
        </button>
    </a>

</div>

</body>
</html>

