<!DOCTYPE html>
<html lang="uz">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Ro'yxatdan o'tish</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="login-page">

<div class="login-card">

<div class="login-logo">

👤

</div>

<h1>

Hisob yaratish

</h1>

<p class="login-subtitle">

Asia Box oilasiga qo'shiling

</p>

<form action="/register" method="POST">

<label>

👤 Ism va familiya

</label>

<input
type="text"
name="fullname"
placeholder="Ism va familiyangiz"
required
>

<label>

📱 Telefon raqami

</label>

<input
type="text"
name="phone"
placeholder="+998901234567"
required
>

<label>

🔒 Parol

</label>

<div class="password-box">

<input
type="password"
id="password"
name="password"
placeholder="Parol kiriting"
required
>

<span
class="toggle-password"
onclick="togglePassword()">

👁️

</span>

</div>

{% if error %}

<div class="error-box">

{{ error }}

</div>

{% endif %}

<button
type="submit"
class="buy-btn">

✅ Ro'yxatdan o'tish

</button>

</form>

<div class="login-bottom">

<p>

Hisobingiz bormi?

</p>

<br>

<a href="/login">

<button
type="button"
class="detail-btn">

🔐 Kirish

</button>

</a>

</div>

</div>

</div>

<script>

function togglePassword(){

const password=document.getElementById("password");

if(password.type==="password"){

password.type="text";

}else{

password.type="password";

}

}

</script>

</body>

</html>