<!DOCTYPE html>
<html lang="uz">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Ro'yxatdan o'tish</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="login-page">

<div class="login-card">

<div style="text-align:center;margin-bottom:30px;">

<h1 style="font-size:34px;">
👤 Ro'yxatdan o'tish
</h1>

<p style="color:#777;margin-top:10px;">
Yangi hisob yarating
</p>

</div>

<form action="/register" method="POST">

<label>👤 Ism va familiya</label>

<input
type="text"
name="fullname"
placeholder="Ism va familiyangiz"
required
>

<label>📱 Telefon raqami</label>

<input
type="text"
name="phone"
placeholder="+998901234567"
required
>

<label>🔒 Parol</label>

<input
type="password"
name="password"
placeholder="Parol kiriting"
required
>

<button
type="submit"
class="buy-btn">

✅ Ro'yxatdan o'tish

</button>

</form>

<div style="text-align:center;margin-top:30px;">

<p style="color:#777;">
Hisobingiz bormi?
</p>

<br>

<a href="/login">

<button
type="button"
class="detail-btn">

🔐 Kirish

</button>

</a>

</div>

</div>

</div>

</body>

</html>