<!DOCTYPE html>
<html lang="uz">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Buyurtma qabul qilindi</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="login-page">

<div class="login-card" style="text-align:center;">

<div style="font-size:90px;margin-bottom:20px;">
✅
</div>

<h1 style="font-size:34px;">
Rahmat!
</h1>

<p style="color:#777;font-size:18px;margin:20px 0 35px;">

Buyurtmangiz muvaffaqiyatli qabul qilindi.

Tez orada operator siz bilan bog'lanadi.

</p>

<a href="/">

<button class="buy-btn">

🏠 Bosh sahifaga qaytish

</button>

</a>

</div>

</div>

</body>

</html>